doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of smth magical!
    p Lorem ipsum alala Lorem ipsum alala Lorem ipsum alala Lorem ipsum alala Lorem ipsum alala Lorem ipsum alala Lorem ipsum alalaLorem ipsum alala
    ul
      li one
      li two
      li three
      li last
    ul
    .section
      h2 something useful
      p alalalalalalalalalalalalalalalal
    